#[link(name = "layers",
       vers = "0.1")];
#[crate_type = "lib"];

extern mod std;

extern mod azure;
extern mod cairo;
extern mod geom;
extern mod glut;
extern mod opengles;

pub mod layers;
pub mod scene;
pub mod rendergl;
pub mod util;

#[cfg(test)]
pub mod test;

